.input_area {
  display: flex;
  position: relative;
  width: 100%;
  margin:0 auto;
}

.text_area {
  padding: 10px;
  padding-right: 50px;
  width: 100%;
  background-color: rgb(239, 243, 244);
  border: none;
  border-radius: 10px;
  resize:none;
}

.submit_button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border:none;
  color:rgb(11, 100, 120);
}